.navbar-container {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    text-decoration: none;
  }

.navbar-lista {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    list-style: none;
}

